<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kancatani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo_apps"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pembeli.ui.home.keranjang_barang_pembeli"></activity>
        <activity android:name=".Pembeli.ui.home.lihat_barang_pembeli" />
        <activity android:name=".Pembeli.ui.home.SearchBarang" />
        <activity android:name=".SplashScreen.SplashScrennMenu" />
        <activity android:name=".SplashScreen.SplashScreen2" />
        <activity android:name=".Penjual.PenjualActivity" />
        <activity android:name=".Pembeli.HomePembeli" />
        <activity android:name=".Login.Register2Activity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.RegisterKelengkapan" />
        <activity android:name=".SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>